header{
    background-color: #1b1b1f;
    width: 100 vw !important;
    height: 60px;
    text-align: center;
    padding-top: 20px;
}

header a{
    color: #FF0;
    text-decoration: none;
    font-size: 24px;
}

header a:hover{
    color: rgb(136, 136, 5);
}

header svg:hover{
    color: rgb(136, 136, 5);
}