.btn-Primary{
    text-decoration: none;
    background-color: #0275d8;
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
}

.btn-Primary:hover{
    opacity: 0.90;
    color: #000;
    transition: all 0.50s;
}

.container{
    background-color: #FFF;
    margin: 20px 200px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.botoes{
    display: flex;
    width: 100%;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border: none;
}
