.tabela-chaves{
    width: 100%;
    margin-top: 20px;
}

.tabela-chaves th{
    /* background-color: rgb(255, 251, 0); */
    background-color:#0275d8;
    line-height: 30px;
    color: #FFF;
}

.form-Chaves{
    
}

.form-Chaves input{
    width: 80%;
}

