body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEE !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  background-color: #FFF;
  border-radius: 5px;
  margin: 30px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container-estoque{
  background-color: #FFF;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

svg:hover{
  cursor: pointer;
}

.m-0{
  margin: 0px;
}

.mb-1{
  margin-bottom: 10px;
}

.mb-2{
  margin-bottom: 20px;
}

.mt-2{
  margin-top: 20px;
}

.mr-2{
  margin-right: 5px;
}

.mr-3{
  margin-right: 10px;
}

.f-right{
  float: right
}

.Grid th{
  background-color: #004878 !important;
  color: #FFF !important;
}

.t-center{
  text-align: center;
}

.iconVendaChave{
  color: #008000;
}

.iconVendaChave:hover{
  opacity: .5;
}

.imgFluid{
  width: 100%;
  height: auto;
}

.ant-drawer-title{
  color: #FFF !important;
}

.ant-drawer-footer h2{
  color: #FFF !important;
}

.anticon-close{
  color: #FFF !important;
}

.color-white{
  color: #FFF !important;
}

